/* styles/_colors.scss */
$background-color: #1f2937;
$text-color: #374151;
$h1-color: #111827;
$h2-color: #1f2937;
$navbar-background: #374151;
$navbar-text-color: #f3f4f6;
$navbar-text-hover: #afb1b6;
