@use '../../styles/colors';

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 10px 20px;
  background-color: colors.$navbar-background;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: auto;
  max-width: 1200px;
}
