@use '../styles/colors';

.body {
  background-color: colors.$background-color;
  font-family: Arial, sans-serif;
  color: colors.$text-color;
  margin: 0;
}

.mainContent {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 100vh; // Ensure the page has a minimum height of the viewport
}
